/**
 * General
 */
.content {
    margin-top: 55px;
    width: 100vw;
}
.slide {
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    position: relative;
    padding-bottom: 50px;
}
.landing {
    width: 100vw;
    height: 100%;
}
.first-slide {
    margin-top: 100vh;
}
.white-slide {
    background-color: #fff;
}
.grey-slide {
    background-color: #95a5a6;
}
a {
    color: #bdc3c7 !important;
}
h2 {
    color: #c0392b;
    margin-top: 60px;
    text-align: center;
    font-size: 40px;
}
h3 {
    font-size: 25px;
}
.row {
    width: 1000px;
    margin: auto;
}

/**
 * Nav
 */
.hamburger {
    background-color: #c0392b;
    border-color: #c0392b;
}
.hamburger:active, .hamburger:focus {
    border-color: white;
}
.line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}
.navbar-brand {
    color: #c0392b !important;
}
.nav-link.active {
    background-color: #c0392b !important;
}

/**
 * Home
 */
#landing {
    position: fixed;
    background-color: #c0392b;
}
.title {
    text-align: center;
    padding-top: 45vh;
    color: white;
}

/**
 * Profile
 */
.profile-pic {
    text-align: center;
    width: 300px;
}
.profile-pic img {
    width: 100%;
    border-radius: 50px;
}

/**
 * Projects
 */

/**
 * Contact
 */
.contact {
    background-color: #343a40;
    position: relative;
    height: 300px;
    color: white;
    text-align: center;
}
.contact h2 {
    color: #bdc3c7;
}
.contact hr {
    background-color: #bdc3c7;
}

/**
 * Media
 */
@media (min-width: 700px) {
    .hamburger {
        display: none;
    }
}
@media (max-width: 700px) {
    .nav-item {
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 1000px) {
    .row {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .profile-pic {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}